name: Destroy itlab environment

# Configures this workflow to run every time a change is pushed to the branch called `main`.
on:
  # push:
  #   branches: ['main']
  #   # don't rebuild image if someone only edited unrelated files
  #   paths-ignore:
  #     - 'README.md'
  #     - '.gitignore'
  # You can run this action manually
  workflow_dispatch:

env:
  ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

jobs:
  itlab-cicd:
    name: Deploy 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.13.5"

      - name: Login to azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # First run without backend.tf present
      - name: Terraform Init
        run: terraform -chdir=terraform init

      # Create resources
      - name: Terraform destroy
        run: terraform -chdir=terraform destroy -auto-approve
